* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    scroll-padding-top: 2rem;
}

/* Navbar */
.nav {
    min-height: 42px;
    background-color: #bb5555;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
/* Column layout */
.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff;
    display: flex;
}

.column-item {
    padding: 0 16px;
}

.sidebar-one {
    flex: 1;
}

.sidebar-two {
    flex: 1;
}

.main-column {
    flex: 2;
}
/* Form layout */
.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form__row {
    padding: 8px 0;
    display: flex;
}

.form__label {
    min-width: 90px;
}

.form__input {
    flex: 1;
}


img{
    vertical-align: middle;
    border-style: none;
}
.Tiledanhsach{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 5000px;
    margin: 0 auto;
    font-size: large;
}
.carID{
    display: flex;
    
    flex-direction: column;
}
